/*body styling*/
body {
    font-family: 'Times New Roman', Times, serif !important;
    background: linear-gradient(90deg, #010626, #2481A6) !important;
    /*Gradient*/
    color: #fff !important;
    /*White text*/
    margin: 0 !important;
}

/*header styling*/
header {
    font-family: 'Times New Roman', Times, serif !important;
    color: #F2AC29 !important;
}


/*navigation links styling*/
nav a {
    font-family: 'Times New Roman', Times, serif !important;
    color: #F2AC29 !important;
    font-size: 18px !important;
}


/*article styling*/
article {
    font-family: 'Times New Roman', Times, serif !important;
    padding-left: 20px !important;
    padding-bottom: 30px !important;
    color:#fff !important;
    /*spacing for top and bottom*/
    font-size: 20px !important;
}

/*Styling on Image classes*/
.image1 {
    max-width: 550px !important;
    height: auto !important;
}

/*circular image*/
.image2 {
    border-radius: 50% !important;
    /*makes image circular*/
    max-width: 100px !important;
    height: auto !important;
}


/*video styling*/
video {
    width: auto !important;
    height: 300px !important;
}

/*color scheme:
header, footer & navigation text color: #F2AC29
header and footer background: #031220
body text color: #fff
body background (linear gradient): #010626, #2481A6 */